.team {
  background-color: var(--third-background-color);
}

.team-list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}

.team-list-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--header-text-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team_title {
  margin-bottom: 50px;
}

.team-item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.masters-social-icon {
  fill: #afb1b8;
}
