.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--header-text-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-icon {
  fill: currentColor;
}

.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-pr);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
